:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --link-color: #2196f3;
  --background-color: #2f303a;
  --white-color: #ffffff;
  --subbackground-color: #f5f4fa;
  --border-color: #ececec;
  --subborder-color: #afb1b8;
  --backgroundminilogo-color: #ffffff1a;
}

body {
  font-family: Roboto;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
  text-decoration: none;

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.span-header,
.span-footer {
  color: var(--link-color);
  font-size: 26px;
}

.link-main-list,
.hero-list,
.list-footer,
.section-list,
.section-hero-list,
.list-team,
.group,
.list,
.section-list-logo,
.list-clients,
.team-socialweb-list,
.footer-socialweb-list {
  list-style-type: none;
}

.link-main,
.link-submain,
.link-subsubmain {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  top: 32px;

  padding: 32px 0px 32px 0px;
}

.link-main,
.link-submain,
.link-subsubmain {
  color: var(--main-color);
}

.sublink,
.link {
  color: var(--secondary-color);
  padding: 32px 0px 32px 0px;
}

.link,
.sublink {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0ch;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--link-color);
  color: var(--white-color);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin-bottom: 4px;
}

.section-text {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color);
}

.section-link {
  text-decoration: none;
}

.link-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.link-map,
.link-mail,
.link-tel {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-map {
  color: hwb(0 100% 0%);
}

.link-mail,
.link-tel {
  color: rgba(255, 255, 255, 0.6);
}

.section-hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);

  margin-bottom: 10px;
}

.section-hero-text {
  line-height: 1.71;
  color: var(--secondary-color);
}
.section-title,
.title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-color);
  text-align: center;
}

.section-title,
.title-clients {
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

.hero-main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  width: 696px;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.link-main:focus,
.link-main:hover,
.link-submain:focus,
.link-submain:hover,
.link-subsubmain:hover,
.link-subsubmain:focus,
.link:hover,
.link:focus,
.sublink:hover,
.sublink:focus,
.link-map:hover,
.link-map:focus,
.link-tel:focus,
.link-tel:hover,
.link-mail:focus,
.link-mail:hover,
.socialweb-item:focus,
.socialweb-item:hover,
.clients-item:hover,
.clients-item:focus,
.team-socialweb-item:hover,
.team-socialweb-item:focus {
  color: var(--link-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-hero-btn:focus,
.portfolio-hero-btn:hover {
  color: var(--white-color);
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Настройки */

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Настройки */

/* Хедер */

.container-nav,
.team-socialweb-list {
  display: flex;
}

.link-main-list,
.nav {
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link-main,
.link-submain,
.link {
  margin-right: 50px;
}

.current {
  color: var(--link-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
  flex-direction: column;
}

/* Хедер */

/* 1 секция */

.section-hero {
  padding: 200px 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--background-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-size: cover;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* 1 секция */

/* Футер */

.footer {
  padding: 60px 0 60px 0;
  background: var(--background-color);
}

.contacts-adress {
  margin-top: 20px;
}

.list-item-map,
.list-item-mail {
  margin-bottom: 9px;
}

/* Футер */

/* 2 секция */

/* 2 секция */

.section-logo {
  padding-top: 0;
}

.img-notebook {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 4 секция */

.list-team,
.list,
.section-hero-list,
.list-clients {
  display: flex;
  gap: 30px;
}

.team-name,
.team-position {
  text-align: center;
  margin-bottom: 10px;
}

.team-position,
.img-foto,
.team-socialweb-list {
  margin-bottom: 30px;
}

.section-team {
  background-color: var(--subbackground-color);
}

.list-item-team {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* 4 секция */

/* Портфолио */

.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0ch;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--subbackground-color);
  margin-right: 8px;
  padding: 6px 22px 6px 22px;
}

.portfolio-hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0ch;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--subbackground-color);
  margin-right: 8px;
  padding: 6px 25px 6px 25px;
}

.card {
  background: var(--white-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 20px 24px;
}

.section-list-logo {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  gap: 30px;
}

.card-orlean {
  padding: 20px 24px;
}

.section-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-clients,
.team-socialweb-list {
  justify-content: center;
}

.team-socialweb-list {
  gap: 10px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.socialweb-item,
.clients-item,
.team-socialweb-item {
  cursor: pointer;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--subborder-color);
  border-radius: 4px;
}

.svg-list {
  background-color: var(--subbackground-color);
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.antena,
.clock,
.vector,
.space {
  width: 70px;
  height: 70px;
}

.logo {
  width: 106px;
  height: 60px;
  display: block;
  cursor: pointer;
}

.mail,
.tel {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--subborder-color);
}

.tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--subborder-color);
}

.link:hover .mail,
.link:focus .mail,
.sublink:hover .tel,
.sublink:focus .tel {
  fill: currentColor;
}

.team-socialweb-item {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.team-socialweb-item-footer {
  width: 44px;
  height: 44px;
  background-color: var(--backgroundminilogo-color);
  border-radius: 50%;
}

.team-socialweb-item:hover .mini-logo,
.team-socialweb-item:focus .mini-logo {
  fill: var(--white-color);
}

.mini-logo,
.mini-logo-footer {
  width: 20px;
  height: 20px;
}

.socialweb-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-color: transparent;
}

.footer-socialweb-list {
  display: flex;
  gap: 10px;
}

.section-link {
  display: block;
}

.section-link:hover,
.section-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-logo:hover .logo,
.link-logo:focus .logo {
  fill: var(--link-color);
  border-color: var(--link-color);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--link-color);
  outline: var(--link-color);
}

.link-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  fill: var(--subborder-color);
}

.mini-logo {
  fill: var(--subborder-color);
}

.mini-logo-footer {
  fill: var(--white-color);
}

.socialweb-link:hover {
  background-color: var(--link-color);
  border-radius: 50%;
}

.mini-logo:hover {
  fill: var(--white-color);
  background-color: var(--link-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.social-webs {
  margin-left: 70px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;

  left: 536px;
  top: 221px;
  border-radius: 4px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1032px;
  top: 235px;
}
